html, body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: yellow;
}

.formContainer {
  margin: 0 auto;
  padding: 30px;
  width: 210px;
  background-color: lightgreen;
}

.inputs {
  margin-bottom: 20px;
}

.displayInfo {
  height: 300px;
  background-color: lightblue;
}

#costDisplay {
  height: 60px;
  width: 150px;
  background-color: yellow;
  margin: 0 auto;
}



table {
  width: 550px;
  margin: 0 auto;
}

th, td {
  width: 20%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
