html, body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: yellow;
}

.formContainer {
  margin-left: 40px;
  width: 210px;
  background-color: lightgreen;
}

.displayInfo {
  height: 200px;
  background-color: lightblue;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
